<h1>Jams - An application for all your music needs!</h1>

<h2> Come See a list of our amazing Artists!</h2>
<form action="/artists">
  <input type="submit" value="Visit Artists" />
</form>

<h2>Come see our list of awesome instruments!</h2>
<form action="/instruments">
  <input type="submit" value="See Instruments" />
</form>
