<h1>Welcome to this <%= @instrument.name %>'s page! </h1>
<h2>Brand: <%= @instrument.brand %> </h2>


<a href="/instruments/<%= @instrument.id %>/edit">Edit <%= @instrument.name %>'s information.</a>
<br/>
<a href="/instruments">Back to the list of instruments.</a>
